/* FONT DECLARATIONS */

@font-face {
  font-family: "Cervanttis";
  src: url("../fonts/Cervanttis-Regular.ttf") format("truetype");
  font-display: swap;
}

/* GLOBAL PAGE TRANSITIONS */

.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}
